<p>Votre adresse mail ({{ mail.mailAddress }}) a bien été ajoutée à notre liste de diffusion.</p>
{#<p>L'équipe LSN</p>#}
{#<footer>Si vous n'êtes pas à l'origine de cette inscription, vous pouvez vous désinscrire en cliquant <a href="{{ url('blog_mail_unsubscribe', {mail: mail.mailAddress, token: mail.token}) }}">ici</a></footer>#}